@{
    ViewData["Title"] = "vote";
}

<div id="redis" class="row">
    <div id="vote-panel" class="col-lg-2 panel">
        <h5>Do you like This Website</h5>
            <div id="vote-group">
                <p><button class="btn btn-primary btn-block" value="Y">Yes</button></p>
                <p><button class="btn btn-primary btn-block" value="N">No</button></p>
                <p><button class="btn btn-primary btn-block" value="NC">No Comment</button></p>
            </div>
    </div>
        <div id="vote-results" class="col-lg-8 panel">
        </div>
</div>

<script>
    
</script>